<html>
  <head>
    <title>Продукты в магазине</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      .table-responsive {
        max-height: 500px;
        overflow-y: auto;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Товары</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Вернуться в меню</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Product ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <td>{{ product.product_id }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.count }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
